<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% block title %}{% endblock title %}</title>
    
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename = 'css/style.css')}}"
    />
    <!-- Custom header links -->
    {% block header_links %}
    {% endblock header_links %}
   </head>

  <body>
    <div class="topnav">
      <a href="{{url_for('persons.list_persons')}}">List Persons</a>
    </div>

    <div class="content">
      {% block content %}{% endblock content %}
    </div>
    

    <div class="footer">
      <!-- <div class="copyright"> -->
        <p>
          Copyright &copy; Designed & Developed by
          <a href="https://github.com/n1mro">N1mro</a> 2022
        </p>
      <!-- </div> -->
    </div>
    
    {% block custom_scripts %}
    {% endblock custom_scripts %}
  </body>
</html>
